[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group Pâtissier
	owner = group user/Skyler Grey (Minion3665)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Pâtissier
	label-Code-Review = -2..+2 group user/Skyler Grey (Minion3665)
	label-Verified = -1..+1 group Pâtissier
	label-Verified = -1..+1 group user/Skyler Grey (Minion3665)
	push = group Pâtissier
	push = group user/Skyler Grey (Minion3665)
	read = group Pâtissier
	read = group user/Skyler Grey (Minion3665)
	rebase = group Pâtissier
	rebase = group user/Skyler Grey (Minion3665)
	removeReviewer = group Pâtissier
	removeReviewer = group user/Skyler Grey (Minion3665)
	submit = group Pâtissier
	submit = group user/Skyler Grey (Minion3665)
[access "refs/heads/*"]
	create = group Pâtissier
	create = group user/Skyler Grey (Minion3665)
	push = +force group Pâtissier
	push = +force group user/Skyler Grey (Minion3665)
	pushMerge = group Pâtissier
	pushMerge = group user/Skyler Grey (Minion3665)
	read = group Pâtissier
	read = group user/Skyler Grey (Minion3665)
[access "refs/tags/*"]
	push = group Pâtissier
	push = group user/Skyler Grey (Minion3665)
	push = +force group user/Skyler Grey (Minion3665)
