---
import Layout from "../layouts/Global.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import { formatTitle } from "../lib/index"

export const getStaticPaths = (async () => {
	const posts = await getCollection('blog');

	return posts
		.filter(post => post.data.published)
		.map(post => ({
			params: { id: post.id },
			props: { post }
		}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
const title = await formatTitle(post.id);
---
<Layout pageTitle={title}>
	<div class="p-8 w-4/5 lg:w-[72rem] m-auto h-full">
		<nav class="pb-6">
	  	<a href="/">&larr; Back to all posts</a>
		</nav>
		<header class="mb-4 block">
			<h1 class="text-4xl">{title}</h1>
			{post.data.publishedOn
				? <p class="text-ctp-subtext0">Published {post.data.publishedOn.toLocaleDateString(undefined, {dateStyle: "full"})}</p>
				: undefined}
		</header>
		<article class="text-lg">
			<Content />
		</article>
		<hr />
		<nav class="pt-6">
	  	<a href="/">&larr; Back to all posts</a>
		</nav>
	</div>
</Layout>

<style is:global>
	article p {
		@apply my-4;
	}

	article blockquote {
		@apply px-4 border-l-2 border-ctp-pink;
	}

	nav a,
	article a {
		@apply underline text-ctp-blue;
	}
</style>
