---
import Layout from '../layouts/Global.astro';

import Card from '../components/Card.astro';

import { getSecret } from 'astro:env/server';

import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog', ({ data }) => {
	return data.publish == true;
})
---

<Layout pageTitle={getSecret("BLOG_TITLE")}>
	<main class="bg-ctp-base text-ctp-text w-full h-full justify-center flex flex-wrap">
		<ul class="flex gap-6 w-1/2 h-full">
			{
			blogEntries
			.sort((a,b) => (b.data.pubDate ?? new Date("1980-01-01")).getTime() - (a.data.pubDate ?? new Date("1980-01-01")).getTime())
			.map(async post => <Card postId={post.id} />)
			}
		</ul>
	</main>
</Layout>
