---
import { getSecret } from 'astro:env/server';
import Layout from '../layouts/Global.astro';
import { formatTitle } from '../lib';

import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog', ({ data }) => {
	return data.publish == true;
})
---

<Layout pageTitle={getSecret("BLOG_TITLE")}>
	<main class="bg-ctp-base w-full h-full">
		<ul>
			{
			blogEntries.sort((a,b) => (b.data.pubDate ?? new Date("1980-01-01")).getTime() - (a.data.pubDate ?? new Date("1980-01-01")).getTime()).map(async post => (
			<li><a href={`/${post.id}`}> > {post.id}: {await formatTitle(post.id)} {post.data.pubDate ? `@ ${post.data.pubDate.toLocaleDateString(undefined, {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric'})}` : ""} {post.data.tags ? "->" : ""} {
				post.data.tags?.map(v => "#" + v)?.join(", ")
			}</a></li>
			))
			}
		</ul>
	</main>
</Layout>
